
main {
    width: 80vw;
    height: 90vh;
    padding: 10vh 0;
}


.board {
    width: 100%;
    height: 70%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 3px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background: radial-gradient(circle, rgba(154, 22, 43, 0.5) 0%, rgba(255, 102, 32, 0.5) 100%);
}

.ex {
    font-size: 80px;
    color: blue;
    font-weight: 900;
}

.circle {
    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.activePlayer {
    margin-top: 5vh;
    display: flex;
    height: 200px;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    box-shadow: 10px 10px 20px #818181;
}

.reset {
    width: 200px;
    height: 50px;
    background-color: indianred;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.reset:hover {
    background-color: palevioletred;
}
.resetWrapper {
    display: flex;
    justify-content: center;
}
